/* header{
        visibility:hidden;
} 
/* .header{
        background-color:red;
        height:10px;
        width:100%;
}       */
/* .appview-container.st-emotion-cache-1wrcr25.ea3mdgi9{
        background-size: fit;
        background-image: url("https://images.pexels.com/photos/7089290/pexels-photo-7089290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
} */ 